{% extends "finance/base.html" %}

{% block title %}Delete {{ model_name }}{% endblock %}

{% block content %}
<h1 class="mb-4">Delete {{ model_name }}</h1>
<p>Are you sure you want to delete the "{{ model_name }}" "<strong>{{ object }}</strong>"?</p>
<form method="post">
    {% csrf_token %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ list_url }}" class="btn btn-secondary me-2">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
{% endblock %}